* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR SECTION */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px;
  height: 15vh;
  padding: 0 5%;
  background-color: #3c948b;
}

.navbar-ul {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 150px;
}

.navbar-ul a {
  color: #fff;
  text-decoration: none;
  margin-top: 0.2rem;
}

.navbar-ul a:hover {
  text-decoration: underline;
}

#movie-number {
  color: green;
}

.navbar-ul li {
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  list-style: none;
  padding-left: 4rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  margin: 0.2rem;
}

.footer-container {
  background-color: #3c948b;
  height: 15vh;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 1px 2px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 5%;
}

.footer-logo {
  width: 150px;
}

.footer-note {
  color: #fff;
  line-height: 20px;
  font-weight: 700;
}
